body{
    background : white;
}
form.SearchCl {
    position: absolute;
    letter-spacing: 12px;
    font-size: 15px;
    left: 1%;
    top: 35px;
    padding: 8px 20px;
}

button.EnterBt {
    background-color: beige;
    border-color: cornsilk;
    color: black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 18%;
    top: 35px;
}

button.ExitBt {
    background-color: beige;
    color: black;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    border-color: cornsilk;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 1%;
    top: 35px
}

img.Logo {
    position: absolute;
    left: 5%;
    top: 105px;
}

div.Topics{
    letter-spacing:5px;
    font-size:30px;
    position:absolute;
    left:30%;
    top:280px;
}

button.AddBt{
    font-size: 20px;
    position:absolute;
    background-color: beige;
    border-color: cornsilk;
    color: black;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    left: 1%;
    top: 280px
}
div.Filters{
    position: absolute;
    letter-spacing: 12px;
    font-size: 20px;
    left: 1%;
    top: 450px;
    border: sandybrown;

}
div.ForTags{
    position:absolute;
    text-align: left;
    font-size: 20px;
    margin-left:1%;
    position:absolute;
    top:820px;
    width:100px;
    height:200px;
    border:2px solid sandybrown;
    font-size:120%;
    text-align: center;
}
.News1{
    margin-left:350px ;
    position:absolute;
    top:500px;
    width:400px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News2{
    margin-left:800px ;
    position:absolute;
    top:500px;
    width:400px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News3{
    margin-left:350px ;
    position:absolute;
    top:750px;
    width:400px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News4{
    margin-left:800px ;
    position:absolute;
    top:750px;
    width:400px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News5{
     margin-left:350px ;
     position:absolute;
     top:1000px;
     width:400px;
     height:200px;
     border:2px solid beige;
     font-size:120%;
     text-align: center;
 }
.News6{
    margin-left:800px ;
    position:absolute;
    top:1000px;
    width:400px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News7{
    margin-left:350px ;
    position:absolute;
    top:1250px;
    width:250px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News8{
    margin-left:650px ;
    position:absolute;
    top:1250px;
    width:250px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News9{
    margin-left:950px ;
    position:absolute;
    top:1250px;
    width:250px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News10{
    margin-left:350px ;
    position:absolute;
    top:1500px;
    width:250px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News11{
    margin-left:650px ;
    position:absolute;
    top:1500px;
    width:250px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.News12{
    margin-left:950px ;
    position:absolute;
    top:1500px;
    width:250px;
    height:200px;
    border:2px solid beige;
    font-size:120%;
    text-align: center;
}
.TitleNews {
    font-size: 20px;
    font-weight: bold;
}
.SmNews,.OpenNews{
    font-size: 15px;
}
.DeleteBt,.ChangeBt{
    background-color: white;
    border: none;
    color: black;
    padding: 2px 15px;
    font-weight: bold;
}
div.NumberBt{
    position: absolute;
    top:1750px;
    left:720px;
}
.bt{
    background-color: beige;
    border-bottom-color: white ;
    color: black;
    padding: 2px 5px;
    font-size: 18px;

}
footer{
    position: absolute;
    right: 50px;
    text-align: right;
    bottom: 10px;
    top:2000px;
    height: 80px;
    font-size: 17px;
}


