body{
    background : white;
}

.EnterBt {
    background-color: beige;
    border-color: orange;
    color: darkblue;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 25%;
    top: 60px;
    border-radius: 30px;
}

.ExitBt {
    background-color: beige;
    color: darkblue;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    border-color: orange;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    right: 1%;
    top: 60px;
    border-radius: 30px;
}

.Logo {
    position: absolute;
    left: 2%;
    top: 18px;
}

.txtSearch{
    position: absolute;
    width: 600px;
    right: 11%;
    top:200px;
    background: beige;
    border-color: blue;
    border-radius: 30px;
    font-size: 18px;
}

.btSearch{
    position: absolute;
    right: 1%;
    top:195px;
    background:rgba(0,0,139,0.9);
    border-color: darkblue;
    border-radius: 30px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

.AddBt{
    border-radius: 30px;
    font-size: 13px;
    position:absolute;
    background-color: orange;
    border-color: darkblue;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    left: 3%;
    top: 195px
}

.Filters{
    position: absolute;
    left: 2%;
    top: 320px;

}

.Filter-Name,.Filter-Tag{
    color: darkblue;
    background: beige;
    border-color: rgb(255,165,0);
    height: 30px;
    width: 120px;
    font-size: 15px;
    border-radius: 30px;
}

.Filter-Date{
    color: darkblue;
}

.ForDates{
    color: darkblue;
    background: beige;
    border-color: rgba(255,165,0,0.5);
    height: 30px;
    width: 120px;
    font-size: 15px;
    border-radius: 30px;
}

.ButtonOk{
    color: darkblue;
    background-color: beige;
    border-color: rgb(255,165,0);
    border-radius: 30%;
    font-size: 15px;
    height: 25px;
    width: 50px;
    font-weight: bold;
}

.ForTags{
    position:absolute;
    text-align: center;
    font-size: 18px;
    margin-left:1%;
    top:650px;
    width:150px;
    height:300px;
    left: 1%;
    border:2px solid rgb(255,255,255);
    color: darkblue;
}

.tag{
    color:white;
}

.News{
    border:solid rgba(0,0,139,0.3);
    border-radius: 30px;
    background: white;
    width:650px;
    white-space: pre-line;
    position: relative;
    background: rgba(0,0,0,0);
    left:200px;
    color:black;
}

.TitleNews{
    white-space: pre-line;
    font-size: 25px;
    color: darkblue;
    text-align: center;
    padding: 10px;
}

.Date{
    color: orange;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    right:20px;
}

.Author{
    position: absolute;
    margin-left: 80%;
    color: orange;
    font-weight: bold;
    font-size: 15px;
}

.OpenNews{
    color:orange;
    position:absolute;
    margin-left:7%;
    bottom: 60px;
}

.SmNews{
    font-size: 15px;
    margin-top:10px;
    padding:10px;
    text-align: center;
    color: darkblue;
}

.DeleteBt{
    position: absolute;
    right: 5%;
    bottom: 20px;
    background:rgba(0,0,139,0.1);
    border-color: white;
    border-radius: 30px;
    color: darkblue;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.ChangeBt{
    position: absolute;
    left: 5%;
    bottom: 20px;
    background:rgba(0,0,139,0.1);
    border-color: white;
    border-radius: 30px;
    color: darkblue;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tag{
    color: orange;
}

.Tags-in-News{
    white-space: pre-line;
    padding: 10px;
}

.NumberBt{
    position: absolute;
    margin-top:50px;
    left:460px;
}

.bt{
    background-color: beige;
    border-color:orange ;
    border-radius:30px;
    color: darkblue;
    padding: 2px 5px;
    font-size: 18px;

}

footer{
    position: relative;
    right: 50px;
    text-align: right;
    bottom: 10px;
    margin-top:200px;
    height: 80px;
    font-size: 17px;
    color:darkblue;
}
